.checked {
  color: orange;
}

.unchecked
{
 color: white;
}

body
{
background-image: url("back2.jpg");
background-repeat: no-repeat;
background-position: center;
background-size:175%,175%;
padding:80x;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

head
{
font-size: 20x;
}
